#nav {
    background-color: #21252900;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0px 10px 33px #000000b0;
    border-bottom: 1px solid #ffffff29;
}

#header {
    border-bottom: 1px solid #ffffff29;
}

.hover {
    transition: .2s ease-in-out all;
    cursor: pointer;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.38))
}
.hover:hover {
    transform: scale(1.2);
    z-index: 2

}

.blur {
    background-color: #21252900;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
}